<div class='bike-card align-self-center' style="width: 18rem;">
  <div id='bike_id'>
    {{#if this}}
      <div
        class='bikes-info  text-white btn-block bg-dark d-flex flex-row p-2 text-decoration-none'
        class='text-white btn-block bg-dark d-flex flex-row justify-content-between p-2'
        id='est_title'
      >
        <div class='d-flex align-items-center'>
          <span>{{brand}} <b> {{model}} </b> {{id}} </span>
        </div>
        <i
          class='heart-icon fas fa-heart fa-2x wishlist-icon'
          data-id='{{id}}'
        ></i>
      </div>

      <img
        src='/images/bikes/{{filename}}'
        class='img-thumbnail img img-responsive'
      />
      <p class=" bike-description text-decoration-none">{{description}}</p>
      <span class='btn btn-outline-dark bg-light btn-block'>Price: {{price}}</span>

    {{/if}}
  </div>
</div>