<div class='bike-card'>
  <div id='bike_id'>
    {{#if this}}
      <p> {{loggedIn}}</p>

        <button class='wishlist-btn' data-id='{{id}}'> + Add to Wishlist</button>
      <div id='est_title'>{{brand}} <b>{{model}}</b> {{id}}</div>
      <img
        src='/images/bikes/{{filename}}'
        class='img-thumbnail img img-responsive'
      />
      <span>Price: {{price}}</span>
    {{/if}}
  </div>
</div>

