<div class='bike-card align-self-center'>
  <div id='bike_id'>
    {{#if this}}
      <div
<<<<<<< HEAD
        class='bikes-info text-decoration-none text-white btn-block bg-dark d-flex flex-row p-2 '
=======
        class='text-white btn-block bg-dark d-flex flex-row justify-content-between p-2'
>>>>>>> 2d07bdd69d9b62616dfba70b7b9f9aab566915e5
        id='est_title'
      >
        <div class='d-flex align-items-center'>
          <span>{{brand}} <b> {{model}} </b> {{id}} </span>
        </div>
        <i
          class='heart-icon fas fa-heart fa-2x wishlist-icon'
          data-id='{{id}}'
        ></i>
      </div>
      <div class='d-flex justify-content-center text-center'>
        <img
          src='/images/bikes/{{filename}}'
          class='img-thumbnail img img-responsive bike-img'
        />
      </div>
      <span class='btn btn-outline-dark btn-block'>Price: {{price}}</span>

    {{/if}}
  </div>
</div>