<section class='featured-section'>
  <div class='header-wrapper'>
    <h2 class='featured-header btn btn-lg'>Featured bikes</h2>
  </div>
  {{>bikes featured_bikes}}
</section>
<section class='review-section'>
  <h1 class='review-title btn btn-lg'>Reviews</h1>
  <ul class='reviews'>
    {{#with post as |post|}}
      <li>
        {{post created_at}}

        <div class='meta'>
          {{part_comment.user}}
          {{bicycle_comment.user.username}}
          on
          {{part_comment.created_at}}
          by
          {{user_name}}
          |
          <a href='/post/{{post.id}}'>{{post.comments.length}} comment(s)</a>
        </div>
      </li>
    {{/with}}
  </ul>
</section>