<h1>Reviews</h1>
<ul class="reviews">
    {{#with post as |post|}}
    <li>
        {{ post created_at}}

        <div class="meta">
            {{part_comment.user}} {{bicycle_comment.user.username}} on
            {{part_comment.created_at}} by {{user_name}}
            |
            <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
        </div>
    </li>
    {{/with}}
</ul>

<div>
    {{#each posts as |post|}}

        {{>post-info post}}
</div>

{{else}}
    <p class="pb-4">There are not currently posts</p>
    {{/each}}